<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="events" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Admin\Desktop\C#\TrackingLibrary\ServerExample\Events.mdf;Integrated Security=True"/>
    </connectionStrings>
</configuration>